{% extends "base.html" %}

{% load markup %}

{% block main %}
<div id="columnA_2columns">
{% for entry in entries %}
<div class="post">
<h3>
<a href="{{entry.get_absolute_url}}">{{entry.title}}</a>
</h3>
{% include "blogango/entry_controls.html" %}
<div class="entrytxt">
{{entry.text|textile|truncatewords_html:50}}
</div>
{% include "blogango/entry_footer.html" %}
</div>
{% endfor %}
<br class="clear" />
{% if has_prev %}
<a href="{% url entries prev %}">prev</a> |
{% endif %}
{% if has_next %}
<a href="{% url entries next %}">next</a>
{% endif %}
</div>
{% endblock %}

