{% extends "base.html" %}

{% block title %} 
- Archives
{% endblock %}

{% block content %}

{% for entry in object_list %}
    <div class="leftblock"> 
        <h1><a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a></h1> 
        {% include 'blogango/entry_controls.html' %}
        
        <div class="postcontent"> 
            <p>{{ entry.text|truncatewords_html:50|safe }}</p> 
        </div> 
        <div class="moreinfo"><a href="{{ entry.get_absolute_url }}">read more </a></div> 
    </div>
    
{% endfor %}

{% endblock %}

