{% extends 'blogango/base.html' %}

{% block title %} 

- Author {{ author }}
{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url "blogango_index" %}" rel="nofollow">Blog</a></li>
    <li>Author: {{ author }}</li>
{% endblock %}

{% block content %}
	{% for entry in entries %}
	    {% include 'blogango/entry_snippets.html' %}
	{% empty %}
	    <div class="leftblock"> 
	        <h1>No posts by this author</h1> 
	        <div class="postcontent">
	            <p>
	              <br/>
	              {{ author }} has not published any entries yet.
	            </p>
	        </div>
	    </div>
	{% endfor %}
    <div class="clear"></div>
    {% if page_obj.has_next or page_obj.has_previous %}
    <div class="pagination"> 
        <div class="moreinfo">
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">&laquo; Previous Entries</a>
            {% endif %}
            
            {% if page_obj.has_previous %}
                <span class='right'><a href="?page={{ page_obj.previous_page_number }}">Next Entries &raquo;</a></span>
            {% endif %}
        </div> 
    </div>
    {% endif %}
{% endblock %} 
