{% load blogango_filters %}

{% blogango_extra_context %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{% block title %} {{ blog.title }} {% endblock %}</title>
<link href="{{ MEDIA_URL }}blogango/css/as_blog_styles.css" rel="stylesheet" type="text/css" />
<link href='http://fonts.googleapis.com/css?family=Droid+Serif:regular,bold&subset=latin' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Molengo&subset=latin' rel='stylesheet' type='text/css'>
{% if feed_url %}
    <link rel="alternate" type="application/rss+xml" title="The Agiliq Blog - Django Web Development RSS Feed" href="{{feed_url}}" />
{% endif %}
{% if canonical_url %}
    <link rel="canonical" href='{{ canonical_url }}' />
{% endif %}
{# <link rel="pingback" href="{% url xmlrpc %}" /> #}
<link rel="pingback" href="{{ pingback_xmlrpc_url }}" />

<script type="text/javascript" src="{{ MEDIA_URL }}blogango/js/prettify.js"></script> 

</head>
<body onload="prettyPrint()">
<!--BASE CONTAINER STARTS-->
<div id="mainpage_bg">
  <!--PAGE CONTAINER STARTS-->
  <div id="page_container">
    <!-- HEADER STARTS HERE -->
    <div id="header"><a href="{% url blogango_index %}"><img src="{{ MEDIA_URL }}blogango/images/agiliq_blog_logo.png" width="206" height="67" alt="Agiliq Solutions" /></a></div>
    <!-- HEADER ENDS HERE -->
    <!-- BREADCRUMBS STARTS HERE -->
    <div id="breadcrumbs">
      <ul id="crumbs">
        <li><a href="/">Home</a></li>
		{% block breadcrumbs %}
        <li><a href="#">Main section</a></li>
        <li><a href="#">Sub section</a></li>
        <li>The page you are on right now</li>
		{% endblock %}
      </ul>
    </div>
    <!-- BREADCRUMBS STARTS HERE -->
    <!-- CONTENT BLOCK STARTS HERE -->
    <div id="content_block">
      <div class="leftpanel">
		{% block content %}
        <!--FIRST COMMENT STARTS-->
		{% for entry in entries %}
        <div class="comment_block">
          <div class="left_panel">
            <div class="frame_bg"><img src="{{ MEDIA_URL }}blogango/images/person_img.jpg" width="71" height="72" alt="shabda" /></div>
            <div class="italics">19th Nov., 2010.</div>
            <div class="comment_bg">32</div>
            <div class="italics">Comments</div>
            <div class="reactions_bg">19</div>
            <div class="italics">Reactions</div>
          </div>
          <div class="right_panel">
            <h1 class="post_title">{{ entry.title }}</h1>
            <h6 class="posted_by">By : <a href="#">Shabda</a> - Django Geek</h6>
            <p>We work on a variety of products and with people. We work in a highly distributed environment, with all of our clients working remotely from us. And while we work out of the same office, we are frequently working from other places as well. Here are the tools which help us stay productive, sane and working. :)</p>
            <p>Code hosting: Unfuddle and Github.
              For our open source projects we use Github.
              For our client and non OS projects, we use Unfuddle.
              For our client code we need both SVN and Git, </p>
            <a href="#" class="moreinfo">more info..</a>
            <div class="topics">Topics : <a href="#">Business</a><a href="#">Python</a><a href="#">Django</a></div>
          </div>
        </div>
		{% empty %}
                <div class="leftblock">
                  You don't have any entries in your blog.
                </div>
		{% endfor %}
        <!--FIRST COMMENT ENDS-->
		{% endblock %}
      </div>
      <div class="rightpanel">
        {% if recents %}
        <div id="blogposts_block">
     	  <div class="block_title">Blog Posts</div>
          <ul class="list">
			{% for recent in recents %}
				<li><a href="{{ recent.get_absolute_url }}">{{ recent.title }}</a></li>
			{% endfor %}
          </ul>
        </div>
		{% endif %}
		
		{% if tags %}
        <div id="categories_block">
          <div class="block_title">categories</div>
          <ul class="list_left">
			  {% for tag in tags %}
                  <li><a href="{% url blogango_tag_details tag.slug %}" class='{% cycle left right %}'>{{ tag.name }}</a></li>
              {% endfor %}
          </ul>
          <div class="clear"></div>
        </div>
		{% endif %}
		{% if archive_months %}
        <!--ARCHIEVES STARTS HERE-->
        <div id="archives_block">
          <div class="block_title">Archives</div>
          <ul class="list_left">
			{% for month in archive_months %}
				<li><a href="{% url blogango_archives month|date:'Y' month|date:'b' %}" class='{% cycle left right %}'>{{ month|date:'F Y' }}</a></li>
			{% endfor %}
          </ul>
          <div class="clear"></div>
        </div>
        <!--ARCHIEVES ENDS HERE-->
		{% endif %}
      </div>
      <div class="clear"></div>
    </div>
    <!--  CONTENT BLOCK STARTS HERE -->
  </div>
  <!--PAGE CONTAINER ENDS-->
  <!--FOOTER CONTAINER STARTS-->
  <div id="footerbg"></div>
  <!--FOOTER CONTAINER ENDS-->
</div>
<!--BASE CONTAINER ENDS-->
</body>
</html>
