<div class="leftblock"> 
    <h1><a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a></h1> 
    {% include 'blogango/entry_controls.html' %}
    
    <div class="postcontent"> 
        <p>{{ entry.text|truncatewords_html:50|safe }}</p> 
    </div> 
    <div class="moreinfo">
        <a href="{{ entry.get_absolute_url }}">read more</a>
        {% if entry.get_num_comments %}
            <a href="{{ entry.get_absolute_url }}#comments">{{ entry.get_num_comments }} Comments</a>
        {% endif %}
        {% if entry.get_num_reactions %}
            {% if entry.get_num_comments %}
                and 
            {% endif %}
            <a href="{{ entry.get_absolute_url }}#reactions">
                {{ entry.get_num_reactions }} Reactions
            </a>
        {% endif %}
    </div> 
</div>
