{% extends 'base.html' %}

{% block content%}

<!--BLOG POST STARTS-->
{% for entry in entries %}
    <div class="leftblock"> 
        <h1><a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a></h1> 
        {% include 'blogango/entry_controls.html' %}
        
        <div class="postcontent"> 
            <p>{{ entry.text|truncatewords_html:50|safe }}</p> 
        </div> 
        <div class="moreinfo"><a href="{{ entry.get_absolute_url }}">read more </a></div> 
    </div>
{% empty %}
    <div class="leftblock"> 
        <h1>No posts in blog</h1> 
        <div class="postcontent">
            <p>
              <br/>You don't have any entries in your blog, 
              you can post to your blog from site admin.
            </p>
        </div>
    </div>
{% endfor %}  
<!--BLOG POST ENDS-->

{% endblock %}
