{% extends 'blogango/base.html' %}

{% block title %}
{{block.super}} - Manage
{% endblock %}

{% block main %}
<div id="columnA_2columns">
<ul>
<li>
<a href="{% url blogango_create %}">Write an entry.</a>
</li>
<li>
<a href="{% url blogango_mod_entries %}">Edit previous entries.</a>
</li>
<li>
<a href="{% url blogango_mod_comments %}">Moderate comments.</a>
</li>
<li>
<a href="{% url blogango_blogroll %}">Add to blogroll.</a>
</li>
<li>
<a href="{% url blogango_edit_preferences %}">Edit preferences.</a>
</li>
</ul>
</div>
{% endblock %}