language: python
python:
  - "2.6"
  - "2.7"
# command to install dependencies
install:
  -  pip install -r requirements.txt --use-mirrors
  -  pip install coveralls psycopg2 --use-mirrors
notifications:
  slack: agiliq:4rM97fcM3RrHNA3EssNXYG3V
env:
  - DJANGO_SETTINGS_MODULE=settings       # use sqlite
  - DJANGO_SETTINGS_MODULE=test_settings  # use postgresql
services: postgresql
before_script:
  - psql -c "CREATE DATABASE travisci;" -U postgres
# command to run tests
script:
  -  coverage run example/manage.py test blogango.tests

after_success:
  - coveralls
